name: Build-Dylib-2026
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: macos-14
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Theos
        run: |
          bash -c "$(curl -fsSL https://raw.githubusercontent.com/theos/theos/master/bin/install-theos)"
          echo "THEOS=~/theos" >> $GITHUB_ENV

      - name: Fix SDK Error
        run: |
          mkdir -p $THEOS/sdks
          curl -LO https://github.com/theos/sdks/raw/master/iPhoneOS16.5.sdk.tar.xz
          tar -xf iPhoneOS16.5.sdk.tar.xz -C $THEOS/sdks/
          rm iPhoneOS16.5.sdk.tar.xz

      - name: Compile
        run: |
          make package FINALPACKAGE=1
          
      - name: Save Dylib
        uses: actions/upload-artifact@v4
        with:
          name: MyFinishedDylib
          path: .theos/obj/*.dylib
