name: Build Theos Tweak

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Theos
        uses: procursus/setup-theos@v0.3.0

      - name: Build package
        run: |
          make clean
          make package FINALPACKAGE=1

      - name: Upload deb
        uses: actions/upload-artifact@v4
        with:
          name: deb
          path: packages/*.deb
